body {
  background-color: #fff;

}
.masthead {
  height: 100vh;
  color: #000000;
  overflow-y: hidden;
  min-height: 500px;
  background-image:url("../../../assets/fg.png");
  background-size: cover;
  background-position: center;
  
  background-repeat: no-repeat;
  font-family: 'Pacifico', cursive;

}
h1{
  font-size: 60px;
  font-style: italic;
  padding-top: 15%;
 
}
h3{
  font-size: 30px;
}

.masthead h1 {
  -webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.lead{
    color: #38eb02;
    font-weight: bold;
    letter-spacing: 2px;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

#mybtn{
     display: none;
      position:fixed;
      bottom: 20px;
      right: 20px;
      z-index: 99;
      border: none;
      color:#F8C44C;
      background:white;
      /* background: #F8C44C; */
      padding: 10px;
      background-color:whitesmoke;
      border-radius: 10px;
  }
.bt:hover{
      color: tomato;
      background-color: #f1f1f1;
      /* color :#F8C44C */
}

.bt{
 margin-top: 2%;
  width: 200px;
  height: 60px;
  font-size: 20px;
   background: rgb(4, 0, 255);
   text-transform: uppercase;
   border-radius: 20px;
  font-family: 'Audiowide' ,cursive;
  
}


@media (max-width: 700px) {
  h1{
    font-size: 80px;
  }
  h3{
    font-size: 40px;
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  h1{
    font-size: 30px;
  }
  h3{
    font-size: 25px;
    font-weight: bold;
    
  }
}
  
