<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&amp;display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>


  <!-- cooks -->
  <section id="offer">
    <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px; font-family: 'Concert One', sans-serif;
    color: #131597;"
      class="animated pulse infinite font-poppins tomato">Our Offers</h1> 
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" >
          <img src="assets/s1.jpg" class="img-fluid" >
          <div class="text-center pt-1">
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="assets/s2.jpg " class="img-fluid">
          <div class="text-center pt-1">
            
          </div>
        </div>
        
          <div class="col-sm-6 col-md-3 col-lg-3" >
            <img src="assets/s3.jpg" class="img-fluid">
            
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <img src="assets/s4.jpg " class="img-fluid">
           
          </div>
          </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" >
          <img src="assets/s5.jpg" class="img-fluid" >
          <div class="text-center pt-1">
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="assets/s6.jpg " class="img-fluid">
          <div class="text-center pt-1">
            
          </div>
        </div>
        
          <div class="col-sm-6 col-md-3 col-lg-3" >
            <img src="assets/s1.jpg" class="img-fluid">
            
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <img src="assets/s4.jpg " class="img-fluid">
           
          </div>
          </div>
      
    </div>
  </section>
  <section id="chef">
    <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px; font-family: 'Concert One', sans-serif;
    color: #131597;"
      class="animated pulse infinite font-poppins tomato">Our Master Chef</h1> 
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" >
          <img src="assets/pic/chef-1.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>John Smooth</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="assets/pic/chef-2.jpg " class="img-fluid">
          <div class="text-center pt-1">
            <h4>Rebeca Welson</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="assets/pic/chef-3.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Kharl Branyt</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="assets/pic/chef-4.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Luke Simon</h4>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>

</html>