<html>

<head>
  <meta charset="utf-8">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  
  <div style="padding: 3%;">
    <h3 style="padding-bottom:1%;color: rgb(22, 52, 223); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">The Promise Of 30-Minute Delivery</h3>
    <p style="color: rgb(13, 13, 14); opacity: 80%;">
      No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to choose your toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black olives, fresh tomato, red paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, chicken sausage or chicken tikka- the options are almost endless, anything and everything you can think of that too on top of the crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic hand-tossed crust or a fresh pan pizza. Because just like a pizza, Domino's understands you.

      <br><br>
      So stop googling for the “pizza shops near me” and order from your nearest pizza outlet to have a hot box of pizza on your table in the next 30 minutes, or berth at the next halting station.
    </p>
  </div>

  <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px;"
    class="animated pulse  infinite font-poppins">Our Famous Pizza</h1>

  <div class="container">
    <div class="row" id="f">
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card" >
          <img src="assets/pic/16.jpg" class="img-fluid" style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Peppy Paneer</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/17.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Mexican Green Wave</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/18.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Veg Extravaganza</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/23.jpg" class="img-fluid" style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Paneer Makhani</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/24.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Margherita</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/19.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Double Cheese Margherita</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/20.jpg" class="img-fluid" style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Fresh Veggie</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src=" assets/pic/21.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Veggie Paradise</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4" >
        <div class="card">
          <img src="assets/pic/22.jpg" class="img-fluid" alt="..." style="width: 100%;height: auto;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Cheese N Corn</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-right: 3%; padding-left: 3%; padding-top:1%">
    <h3 style="padding-bottom:2%;color: rgb(22, 52, 223); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Domino's Pizza: Delivering Happiness</h3>
    <p style="color: rgb(13, 13, 14); opacity: 80%;">
      What’s better than having a crispy melty pizza, you ask?<br><br>

      Having that crispy and melty pizza in the comfort of your own home with the ones you love, we say.
      <br><br>
      With Domino's it is always “Rishton ka time”. Whether it's a treat for your promotion, a kid topping his class or winning the heart of your wife who is too tired to cook after a long day at work! A cheesy slice of the best pizza is all one needs to put things into perspective and start any celebration. Plus, you do not even need to rush to the restaurant to have one now. A call, a few clicks on our website or a few touches on the mobile screen is all you have to do to have that tempting, light-on-the-pocket pizza at your doorstep.
      <br><br>
      There is something for everyone here. The vegetarians, non-vegetarians, the sides’ lovers and also the ones who love to have something sweet by the time they reach the last bite of the last slice of pizza slice.

  </div>
  <div style="padding: 3%;">
    <h3 style="padding-bottom:2%;color: rgb(22, 52, 223); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Franchise Information</h3>
    <p>
      Jubilant FoodWorks Limited is the Master Franchisee of Domino’s Pizza in India, Bangladesh, Sri Lanka and Nepal with sole and exclusive rights to own and operate Domino’s Pizza restaurants in these territories. For any franchise-related queries, kindly email us directly at dominos.franchise@jublfood.com
<br><br>
We have come across a few instances of fraudsters posing as Jubilant FoodWorks and asking for payment from gullible investors against the promise of a Domino’s franchise. We therefore caution and urge all interested parties to be careful and vigilant and interact only with the email id mentioned above. Anyone dealing with such fraudsters shall be doing so on their own peril, risk and consequences.
<br><br>
Neither Jubilant FoodWorks nor its Directors/Officers shall be responsible for any loss, harm, damage or fraud that occurs or may occur or arise to any person who decides to access such fake websites, or deal with them.
    </p>
  </div>
</body>

</html>